/* Apply box-sizing to all elements and their pseudo-elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set global styles for html and body */
html,
body {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: white;
  font-size: 16px;
}
