/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    margin: auto;
    max-width: 1000px;
    width: 100%;
}
  
  @media (max-width: 1000px) {
    .container {
      padding: 70px 30px;
    }
  }
  
  /* Column styles */
  .column {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  /* Row styles */
  .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-gap: 15px;
  }
  
  @media (max-width: 1000px) {
    .row {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  /* Link styles */
  .link {
    color: #757575;
    margin-bottom: 20px;
    font-size: 13px;
    text-decoration: none;
  }
  
  /* Title styles */
  .title {
    font-size: 16px;
    color: #757575;
    margin-bottom: 40px;
  }
  
  /* Text styles */
  .text {
    font-size: 13px;
    color: #757575;
    margin-bottom: 40px;
  }
  
  /* Break styles */
  .break {
    flex-basis: 100%;
    height: 0;
  }
  