/* Container styles */
.containerFAQs {
    display: flex;
    border-bottom: 8px solid #222;
  }
  
  /* Frame styles */
  .frame {
    margin-bottom: 40px;
  }
  
  /* Inner styles */
  .inner {
    display: flex;
    padding: 70px 45px;
    flex-direction: column;
    max-width: 815px;
    margin: auto;
  }
  
  /* Title styles */
  .titleFAQs {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 8px;
    color: white;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .title {
      font-size: 35px;
    }
  }
  
  /* Item styles */
 .itemFAQs {
    color: white;
    margin: auto;
    margin-bottom: 10px;
    max-width: 728px;
    width: 100%;
}

.item:first-of-type {
    margin-top: 3em;
}

.item:last-of-type {
    margin-bottom: 0;
}

  
  /* Header styles */
  .header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 1px;
    font-size: 26px;
    font-weight: normal;
    background: #303030;
    padding: 0.8em 1.2em;
    user-select: none;
    align-items: center;
  }
  
  .header img {
    filter: brightness(0) invert(1);
    width: 24px;
    user-select: none;
  }
  
  @media (max-width: 600px) {
    .header {
      font-size: 16px;
    }
  
    .header img {
      width: 16px;
    }
  }
  
  /* Body styles */
  .body {
    font-size: 26px;
    font-weight: normal;
    line-height: normal;
    background: #303030;
    white-space: pre-wrap;
    user-select: none;
    overflow: hidden;
  }
  
  .body.closed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  }
  
  .body.open {
    max-height: 1200px;
    transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  }
  
  .body span {
    display: block;
    padding: 0.8em 2.2em 0.8em 1.2em;
  }
  
  @media (max-width: 600px) {
    .body {
      font-size: 16px;
      line-height: 22px;
    }
  }
  