/* Container styles */
  .container {
    display: flex;
    border-bottom: 8px solid #222;
  }
  
  /* Frame styles */
  .frame {
    margin-bottom: 40px;
  }
  
  /* Inner styles */
  .inner {
    display: flex;
    padding: 70px 45px;
    flex-direction: column;
    max-width: 815px;
    margin: auto;
  }
  
  /* Title styles */
  .titleFAQs {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 8px;
    color: white;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .title {
      font-size: 35px;
    }
  }
  
  /* Item styles */
 .itemFAQs {
    color: white;
    margin: auto;
    margin-bottom: 10px;
    max-width: 728px;
    width: 100%;
}

.item:first-of-type {
    margin-top: 3em;
}

.item:last-of-type {
    margin-bottom: 0;
}

  
  /* Header styles */
  .header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 1px;
    font-size: 26px;
    font-weight: normal;
    background: #303030;
    padding: 0.8em 1.2em;
    user-select: none;
    align-items: center;
  }
  
  .header img {
    filter: brightness(0) invert(1);
    width: 24px;
    user-select: none;
  }
  
  @media (max-width: 600px) {
    .header {
      font-size: 16px;
    }
  
    .header img {
      width: 16px;
    }
  }
  
  /* Body styles */
  .body {
    font-size: 26px;
    font-weight: normal;
    line-height: normal;
    background: #303030;
    white-space: pre-wrap;
    user-select: none;
    overflow: hidden;
  }
  
  .body.closed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  }
  
  .body.open {
    max-height: 1200px;
    transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  }
  
  .body span {
    display: block;
    padding: 0.8em 2.2em 0.8em 1.2em;
  }
  
  @media (max-width: 600px) {
    .body {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .containerForm {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  @media (max-width: 1000px) {
    .containerForm {
      flex-direction: row;
      align-items: center;
    } 
  }

  .inputForm {
    max-width: 350px;
    width: 100%;
    border: 0;
    padding: 10px;
    height: 0px;
    box-sizing: border-box;
    background-color: rgba(48, 48, 48, 0.5);
    border: 1px solid whitesmoke;
    border-radius: 3%;
  }
  @media (max-width: 1000px) {
    .inputForm {
      height: 50px;
      margin-top: 20px;
      
    }
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }

  /* Button styles */
.button {
  display: flex;
  align-items: center;
  height: 70px;
  background: #e50914;
  color: white;
  text-transform: uppercase;
  padding: 0 32px;
  font-size: 26px;
  border-radius: 3%;
  cursor: pointer;
}

.button img {
  margin-left: 10px;
  filter: brightness(0) invert(1);
  width: 24px;
}

@media (max-width: 1000px) {
  .button {
    height: 50px;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 5px;
  }

  .button img {
    width: 16px;
  }
}

  .button:hover {
    background: #f40612;
  }

  /* Text styles */
  .text {
    font-size: 19.2px;
    color: white;
    text-align: center;
  }

  @media (max-width: 600px) {
    .text {
      font-size: 16px;
      line-height: 22px;
    }
  }


  